body {
  // Image Carousel
  .img-carousel {
    width: 100%;
    height: auto;

    div.thumbnails {
      padding-top: 40px;
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
    }

    img {
      &#main-image {
        width: 525px;
        height: 350px;
        object-fit: cover;
      }

      &.img-thumbnail {
        padding: 0;
        height: 90px;
        width: 90px;
        margin: 0 5px;
        object-fit: cover;

        &:nth-child(1) {
          margin-left: 15px;
        }
      }

      &:active,
      &:focus {
        outline: none;
        border: 2px solid #bbbbbb;
      }
    }
  }

  // Payment Form
  .form-wrapper {
    padding: 40px;
    border-top: 0.75px solid rgba(0, 0, 0, 0.25);
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.25);
  }

  // Cart
  .cart {
    background: #f9f9f9;
    padding: 40px;
    border-top: 0.75px solid rgba(0, 0, 0, 0.25);
    border-left: 0.75px solid rgba(0, 0, 0, 0.25);
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.25);

    .cart-item {
      display: flex;
      justify-content: flex-start;
      align-items: top;

      .item-img-border {
        width: 65px;
        height: 65px;
        border: 0.75px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        float: left;
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
    .item-price {
      font-weight: 800;
    }
  }
}
