body {
  // Image Carousel
  .img-carousel {
    width: 100%;
    height: auto;

    div.thumbnails {
      padding-top: 40px;
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
    }

    img {
      &#main-image {
        width: 525px;
        height: 350px;
        object-fit: cover;
      }

      &.img-thumbnail {
        padding: 0;
        height: 90px;
        width: 90px;
        margin: 0 5px;
        object-fit: cover;

        &:nth-child(1) {
          margin-left: 15px;
        }
      }

      &:active,
      &:focus {
        outline: none;
        border: 2px solid #bbbbbb;
      }
    }
  }

  // Payment Form
  .form-wrapper {
    padding: 40px;
    border-top: 0.75px solid rgba(0, 0, 0, 0.25);
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.25);

    .form-group {
      &.filled {
        position: relative;
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.25);
        padding: 50px 0;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.25);
        padding: 50px 0;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.25);
        padding: 50px 0;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.25);
        padding: 50px 0;
      }

      label {
        display: none;

        &.country {
          display: block;
          position: absolute;
          color: #6ec275;
          font-size: 0.5rem;
          padding: 2px 0 5px 11px;
        }

        &.filled {
          display: block;
          position: absolute;
          color: #6ec275;
          font-size: 0.5rem;
          padding: 2px 0 5px 11px;
        }
      }

      .form-control {
        &.filled {
          border: 1.4px solid #6ec275;
          padding: 20px 10px 10px;
        }

        &#inputCountry {
          padding: 10px 0 0 5px;
        }

        input {
          padding-top: 20px;
          padding-bottom: 20px;

          &.filled {
            font-size: 1rem;
            padding: 40px 10px 15px;
          }
        }
      }
    }
  }

  // Cart
  .cart {
    background: #f9f9f9;
    padding: 40px;
    border-top: 0.75px solid rgba(0, 0, 0, 0.25);
    border-left: 0.75px solid rgba(0, 0, 0, 0.25);
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.25);

    .cart-item {
      display: flex;
      justify-content: flex-start;
      align-items: top;

      .item-img-border {
        width: 65px;
        height: 65px;
        border: 0.75px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        float: left;
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
    .item-price {
      font-weight: 800;
    }
  }
}
