// mixins
@mixin btn {
  background-color: #17bebb;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

@mixin bulletList {
  li {
    display: flex;
    margin-bottom: 3rem;

    img {
      height: 30px;
      width: 30px;
    }

    &:nth-child(1) {
      margin-top: 0.75rem;
    }

    span,
    p {
      margin-left: 17px;
      font-size: 1.25rem;
    }
  }
}

@mixin boldCenteredHeader {
  text-align: center;
  font-weight: 800;
  margin: 1rem auto;
}

@mixin cornerRibbon {
  position: fixed;
  width: 200px;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #e7e7e7;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// media query mixins
@mixin mediaXS {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin mediaS {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mediaM {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin mediaL {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
