// mixins
@mixin btn {
  background-color: #17bebb;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75);
}

@mixin bulletList {
  margin-left: 20px;

  li {
    margin-bottom: 3.75rem;

    &:nth-child(1) {
      margin-top: 0.75rem;
    }

    span {
      margin-left: 10px;
      font-size: 1.25rem;
    }
  }
}

@mixin boldCenteredHeader {
  text-align: center;
  font-weight: 800;
  margin: 1rem auto;
}

// media query mixins
@mixin mediaXS {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin mediaS {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mediaM {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaL {
  @media screen and (min-width: 769px) and (max-width: 2000px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 2000px) {
    @content;
  }
}
