// tablet (max-width: 768px)
@include mediaM {
  body {
    .jumbotron {
      .row {
        div#bullet-list-1 {
          margin: 0 auto;
          margin-top: 2rem;

          .bullets {
            li {
              margin-bottom: 2.25rem;

              &:nth-child(1) {
                margin-top: 0.75rem;
              }

              span {
                margin-left: 10px;
                font-size: 1.25rem;
              }
            }
          }
        }
      }

      .carousel {
        padding: 10%;

        .carousel-header {
          font-size: 1.75rem;
        }
      }
    }
  }
}

// smartphones (max-width: 480px)
@include mediaS {
  body {
    .jumbotron {
      .jumbotron-header {
        margin: -15px 0 45px 0;

        h1 {
          font-size: 2rem;
          padding-top: 1rem;
        }
        h4 {
          font-size: 1.25rem;
        }
      }

      .row {
        div#bullet-list-1 {
          .bullets {
            margin: 0.15rem 0 0 0;

            li {
              span {
                font-size: 0.95rem;
                margin-left: 5px;
              }

              button.cta {
                width: 100%;
              }
            }
          }
        }
      }

      .img-carousel {
        img {
          &#main-image {
            width: 375px;
            height: 250px;
          }

          &.img-thumbnail {
            padding: 0;
            height: 55px;
            width: 55px;
            margin: 0 5px;
            object-fit: cover;

            &:nth-child(1) {
              margin-left: 0;
            }
          }
        }
      }
    }

    main {
      .featured {
        .featured-header {
          p {
            &:before {
              width: 25vw;
            }

            &:after {
              width: 25vw;
            }
          }
        }

        .featured-logos {
          li {
            &.nav-item {
              &.col-sm-3 {
                padding: 20px 55px;
              }
            }
          }
        }
      }

      .carousel {
        .carousel-header {
          p {
            font-size: 1.25rem;
          }
        }

        .carousel-wrapper {
          .row {
            div#bullet-list-2 {
              .bullets {
                margin: 0.15rem 0 0 0;

                li {
                  span {
                    font-size: 0.95rem;
                    margin-left: 5px;
                  }

                  button#cta-2.cta {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    .dk-grey {
      .footer-menu {
        padding: 25px 5%;
      }

      .copyright {
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}
