// laptop (min-width: 769px)
@include mediaL {
  body {
    main {
      .testimonials {
        .testimonials-header {
          margin-bottom: 2rem;
        }

        .testimonial {
          display: flex;
          margin: 2.5rem 4rem;

          &.testimonial-2 {
            flex-direction: row-reverse;
          }

          .testimonial-copy {
            text-align: left;
            margin-left: 25px;
            padding-right: 15%;

            &.testimonial-2 {
              text-align: right;
              margin: 0 25px 0 0;
              padding: 0 0 0 20%;
            }
          }
        }
      }
    }
  }
}

// tablet (max-width: 768px)
@include mediaM {
  body {
    .jumbotron {
      .row {
        div#bullet-list-1 {
          margin: 0 auto;
          margin-top: 2rem;

          .bullets-wrapper {
            text-align: center;

            .bullets {
              text-align: left;

              li {
                margin-bottom: 2.25rem;

                &:nth-child(1) {
                  margin-top: 0.75rem;
                }

                span {
                  margin-left: 10px;
                  font-size: 1.25rem;
                }
              }
            }
          }
        }
      }
    }

    main {
      .carousel {
        .carousel-header {
          padding: 0 5%;
          p {
            font-size: 1.75rem;
          }
        }

        .carousel-wrapper {
          .row {
            .img-carousel {
              text-align: center;

              .thumbnails {
                display: block;
              }
            }

            div#bullet-list-2 {
              .bullets {
                li#li-cta {
                  text-align: center;
                }
              }
            }
          }
        }
      }

      .steps {
        .row {
          .step {
            .step-copy {
              padding: 0.75rem 0.5rem;
            }
          }
        }
      }

      .points {
        .point-grid {
          .point {
            display: block;

            img.point-icon {
              float: none;
            }

            .point-copy {
              padding: 15px 0 0px 10px;
            }
          }
        }
      }
    }
  }
}

// smartphones (max-width: 480px)
@include mediaS {
  body {
    .jumbotron {
      .jumbotron-header {
        margin: -15px 0 45px 0;

        h1 {
          font-size: 2rem;
          padding-top: 1rem;
        }
        h4 {
          font-size: 1.25rem;
        }
      }

      .row {
        div#bullet-list-1 {
          .bullets {
            margin: 0.15rem 0 0 0;

            li {
              img {
                margin-left: 1rem;
              }

              span {
                font-size: 0.95rem;
                margin-left: 5px;
              }

              button.cta {
                width: 100%;
              }
            }
          }
        }
      }
    }

    main {
      .featured {
        .featured-header {
          p {
            &:before {
              width: 25vw;
            }

            &:after {
              width: 25vw;
            }
          }
        }

        .featured-logos {
          li {
            &.nav-item {
              &.col-sm-3 {
                padding: 20px 55px;
              }
            }
          }
        }
      }

      .carousel {
        .carousel-header {
          padding: 0 5px;

          p {
            font-size: 1.25rem;
          }
        }

        .carousel-wrapper {
          .img-carousel {
            margin-bottom: 1.5rem;

            img {
              &#main-image {
                width: 320px;
                height: 200px;
              }
            }

            .thumbnails {
              padding: 20px 0 40px;
              justify-content: center;

              img.img-thumbnail {
                padding: 0;
                height: 51px;
                width: 51px;
                margin: 0 5px;
                object-fit: cover;

                &:nth-child(1) {
                  margin-left: 0;
                }
              }
            }
          }
          .row {
            div#bullet-list-2 {
              .bullets {
                margin: 0.15rem 0 0 0;

                li {
                  img {
                    margin-left: 1rem;
                  }

                  span {
                    font-size: 0.95rem;
                    margin-left: 5px;
                  }

                  &#li-cta {
                    padding: 0;

                    button#cta-2.cta {
                      width: 95%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .points {
        .teardrops {
          width: 100%;
          height: auto;
        }
        .point-grid {
          margin-bottom: 2rem;

          .row {
            &.row-2 {
              margin-top: 0;
            }

            .point {
              margin-bottom: 20px;

              img.point-icon {
                float: left;
                margin-right: 20px;
              }

              .point-copy {
                margin-bottom: 30px;
                padding: 0 0 0 5px;
              }
            }
          }
        }
      }

      .steps {
        .row {
          .step {
            img {
              margin-bottom: 10px;
            }

            .step-copy {
              padding: 0.75rem 1.5rem;
            }
          }
        }
      }

      .testimonials {
        .testimonials-header {
          h2 {
            font-size: 1.75rem;
            margin-bottom: 2rem;
          }
        }
      }

      .order-options {
        .options {
          .row {
            .option {
              &.option-1 {
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .payment-details {
        padding: 20px 5% 10px;

        img.badges {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  footer {
    .dk-grey {
      .footer-menu {
        padding: 25px 5%;
      }

      .copyright {
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}
