@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  text-align: center;
  padding: 18px 0 25px;
  border-top: 5px solid #f6bd60;
  background: #fff;
}

footer {
  color: #777777;

  a,
  a:hover {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    color: #777777;
  }

  .dk-grey {
    text-align: center;
    padding: 0;
    background: #333333;

    .footer-menu {
      padding: 25px 32%;
    }
  }
}
