@import "config";
@import "components";

// fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 18px 0 25px;
  border-top: 5px solid #f6bd60;
  background: #fff;
}

.cta {
  @include btn;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;

  .main-jumbotron {
    margin-bottom: 0;
    background: {
      image: url("../img/jumbotron/bg-gold.png");
      size: cover;
    }

    .youtube {
      width: 100%;
      height: auto;
    }

    .jumbotron-header {
      text-align: center;
      margin: -40px 0 45px 0;

      h1 {
        font-weight: 800;
      }
    }

    .bullets {
      @include bulletList;

      button#cta-1 {
        width: 400px;
      }
    }
  }

  main {
    height: 100%;
    min-height: calc(100vh - 215px);

    .featured {
      background: #ffffea;

      .featured-header {
        text-align: center;
        padding-top: 5px;

        p {
          font-weight: 800;
          padding: 15px 0 0;

          &:before {
            content: "";
            display: inline-block;
            margin-right: 20px;
            width: 40vw;
            transform: translateY(-4px);
            border-top: 1px solid #c4c4c4;
          }

          &:after {
            content: "";
            display: inline-block;
            margin-left: 20px;
            width: 40vw;
            transform: translateY(-4px);
            border-top: 1px solid #c4c4c4;
          }
        }
      }

      ul.featured-logos {
        display: flex;
        align-items: center;
        padding: 20px 0 30px 0;
      }
    }

    .carousel {
      .carousel-header {
        background: #93b7be;
        height: 108px;
        display: table;
        margin: 0 auto;
        width: 100%;
        text-align: center;

        p {
          display: table-cell;
          vertical-align: middle;
          color: #fff;
          font-weight: 500;
          font-size: 2.25rem;
          font-weight: 400;
        }
      }

      .carousel-wrapper {
        background: {
          image: url("../img/carousel/bg-abstract.png");
          size: cover;
        }

        .row {
          #bullet-list-2 {
            .bullets {
              @include bulletList;

              button#cta-2 {
                font-size: 1.15rem;
                padding: 12px 0;
                width: 400px;
              }
            }
          }
        }
      }
    }

    .banner {
      background: {
        image: url("../img/banner/bg-leaves.png");
      }
      padding: 45px 10% 20px;
      display: table;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .banner-header {
        display: table-cell;
        vertical-align: middle;
        color: #fff;

        p {
          padding-top: 20px;
        }
      }
    }

    .points {
      background: {
        image: url("../img/points/bg-dots.png");
        size: cover;
      }
      padding: 45px 10% 20px;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .points-header {
        @include boldCenteredHeader;
      }

      .teardrops {
        // TODO: media queries for small screens
        margin: 1.5rem auto;
        height: 80px;
        width: auto;
      }

      .point-grid {
        margin-bottom: 6rem;
        .row {
          margin-top: 2.75rem;
        }
        .point {
          display: flex;
          justify-content: flex-start;
          align-items: top;

          img.point-icon {
            width: 75px;
            height: 75px;
            float: left;
          }

          .point-copy {
            text-align: left;
            margin-left: 8px;
            font-size: 0.85rem;
            line-height: 1rem;
            // TODO: reduce padding right for smaller screens
            padding: 0 50px 0 5px;

            h6 {
              font-weight: 800;
            }
          }
        }
      }
    }

    .steps {
      background: {
        image: url("../img/steps/bg-bokeh.png");
        size: cover;
      }
      padding: 45px 10% 20px;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .steps-header {
        @include boldCenteredHeader;
      }

      .row {
        margin: 3rem auto 1rem;

        .step {
          font-size: 0.85rem;
          line-height: 1.25rem;

          .step-copy {
            padding: 0.75rem 4.5rem;

            h6 {
              font-weight: 800;
            }

            p {
              margin-top: -5px;
            }
          }
        }
      }

      button#cta-3 {
        font-size: 1.15rem;
        padding: 12px 0;
        width: 250px;
        margin-bottom: 4rem;
      }
    }

    .testimonials {
      padding: 45px 10% 20px;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      .testimonials-header {
        color: #30698c;
        text-align: center;
        font-weight: 800;
      }

      .rating {
        .customer {
          font-size: 0.85rem;
          font-weight: 800;
        }
      }

      .testimonial-copy {
        font-size: 0.85rem;

        h6 {
          font-weight: 800;
        }
      }
    }
  }
}

footer {
  color: #777777;
  height: 215px;

  a,
  a:hover {
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    color: #777777;
  }

  .dk-grey {
    text-align: center;
    padding: 0;
    background: #333333;

    .footer-menu {
      padding: 25px 32%;
    }
  }
}

@import "media";
